body {
  // colors
  --white: #ffffff;
  --dark: #1e1f23;
  --gray: #9da6ab;
  --light-gray: #242225;
  --lilic: #8325fc;
  --green: #02c39a;
  --yellow: #febf3d;
  --purp: #fe6d7a;
  --blue: #2e6dee;

  --accent: #656EC2;
  --page-background-color: var(--white);
  --footer-background-color: var(--gray);

  // font
  --font-family: -apple-system, system-ui, Helvetica Neue, Roboto, sans-serif;

  // gaps
  --block-gap: 28px;
  --block-gap-tablet: 20px;
  --block-gap-laptop: 20px;
  --block-gap-desktop: 20px;
  --block-padding: 15px;
  --block-padding-tablet: 20px;
  --block-padding-laptop: 28px;
  --block-padding-desktop: 32px;
  --page-padding: 16px;
  --placement-row-padding: 12px;
  --placement-column-padding: 0px;

  // box styles
  --box-shadow: 0px 4px 8px -2px;
}
